
body {
    background-color: skyblue;
  }
  
  
  /*--------------------------------------------------------------
  -----------------------------Game CSS---------------------------
  --------------------------------------------------------------*/
  #board {
    width: 440px;
    height: 440px;
    border: 3px solid white;
    background-color: black;    
  }
  
  .gameItem {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  
  #head1 { /* Head Properties*/
    background-color: darkgreen;
  }

  #head2 {
    background-color: darkblue;
  }
  
  #apple {
    background-color: red;
  }
  
  .body1 {
    background-color: green;
  }

  .body2 {
    background-color: blue;
  }
  
  #score1 {
    color: whitesmoke
  }

  #score2 {
    color: whitesmoke
  }
  
  #applesEaten1 {
    color: whitesmoke;
  }

  #applesEaten2 {
    color: whitesmoke;
  }
  