
body {
  background-color: skyblue;
}


/*---------------------------------------------------------------
---------------------------- Nav Style---------------------------
---------------------------------------------------------------*/
#header {
  background-color: teal;
  width: 700px;
  height: 100px; 
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  top: 30px;
}

.title {
  color: whitesmoke;
}

#mainNav {
  background-color: teal;
  width: 700px;
  height: 200px;
  padding-right: 35px;
  padding-top: 20px;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
  top: 50px;
} 

#mainNav li {
  background: rgb(3, 155, 155);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
}

#mainNav li:hover {
  background: rgb(4, 99, 99);
  font-weight: bolder;
} 

#mainNav a {
  text-decoration: none;
  color: black
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}