
body {
  background-color: skyblue;
}


/*---------------------------------------------------------------
---------------------------- Nav Style---------------------------
---------------------------------------------------------------*/
#header {
  background-color: teal;
  width: 700px;
  height: 100px; 
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  top: 30px;
}

.title {
  color: whitesmoke;
}

.mainDiv { /**/
  margin: 0 auto;
  position: relative;
  top: 100px;
}


#mainNav {
  background-color: teal;
  width: 700px;
  height: 150px;
  padding-right: 35px;
  border-radius: 15px;
} 

#ruleSet {
  color: whitesmoke
}

#gameVersions {
  flex: 1;
  padding: 15px;
}

.gameList {
  padding: 10px;
  background-color: rgb(22, 148, 148);
  border-radius: 10px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}