
body {
  background-color: skyblue;
}


/*--------------------------------------------------------------
-----------------------------Game CSS---------------------------
--------------------------------------------------------------*/
#board {
  width: 440px;
  height: 440px;
  border: 3px solid white;
  background-color: black;
  margin: 0 auto;
  position: relative;
}

.gameItem {
  width: 20px;
  height: 20px;
  position: absolute;
}

#head { /* Head Properties*/
  background-color: darkgreen;
}

#apple {
  background-color: red;
}

.body {
  background-color: green;
}


/*---------------------------------------------------------------
---------------------------- Nav Style---------------------------
---------------------------------------------------------------*/
#header {
  background-color: teal;
  width: 600px;
  height: 75px; 
  margin: 0 auto;
  padding: 5px;
  position: relative;
  top: 30px;
}

#mainNav {
  background-color: teal;
  width: 700px;
  height: 300px; 
  margin: 0 auto;
  padding: 5px;
  position: relative;
  top: 100px;
}

#gameVersions {
  flex: 1;
  padding: 15px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;

  background-origin: padding-box;
  padding: 15px;
  background-size: auto;
  border-radius: 10px;
  background-color: teal
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}